{% extends "index.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid my-3 rounded ">
    <div class="container " >
      <h1 class="display-8 text-center " style = "margin-bottom: 50px">About the Blog</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam architecto optio voluptas, quis in qui quam natus ab minus necessitatibus laboriosam sint error earum doloremque et modi quasi provident officiis!
      Nihil quae eum ullam esse numquam optio, praesentium dolorum ea illum quaerat accusamus nisi! Sapiente excepturi aut, accusantium id animi quod expedita cupiditate dolor ipsam culpa vitae numquam voluptatem minus?
      Sed corporis autem sapiente vitae placeat soluta, accusamus vel aperiam, natus dolorum voluptatum excepturi doloribus blanditiis ex? Maiores, eaque! Id saepe, illum maxime pariatur impedit repellendus cum dolore fuga nobis.
      Quos nam aut veniam aliquam molestiae, quisquam enim ea officia soluta, non eos ullam quis sequi accusamus. Earum obcaecati fugit veritatis deserunt omnis doloremque delectus autem, voluptatum eaque est ad!
      Fugit ad perspiciatis dignissimos nemo porro ipsa temporibus, eaque commodi, sequi voluptatum cupiditate doloribus amet, neque alias sed harum doloremque eveniet. Quis quibusdam itaque debitis molestiae esse cum quod consectetur.</p>
    </div>
  </div>

{% endblock %}